* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDEEF0;
    padding-top: 70px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.img {
    max-height: 400px;
}

.card {
    max-width: 400px;
    padding: 16px;
    background-color: #ffffff;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
}

p {
    text-indent: 10px; /* Отступ первой строки в пикселах */
}

.wrap {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

tbody tr:hover {
    background: #f3bd48;
}

.navigation {
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
